
ul.promo-code-examples {
    border-top: 2px solid #fea;
    border-bottom: 2px solid #fea;
    background-color:#fffdfa;
    margin:-30px;
    margin-top:5px;
    margin-bottom:5px;
    padding:15px;
    padding-left:35px;
    padding-right:35px;
    list-style:none;
}

ul.promo-code-examples li {
    display:block;
}

ul.promo-code-examples code {
    margin-top:8px;
    margin-bottom:8px;
    padding:10px;
    display:block;
    background-color:#302;
    color:#ecc;
}

ul.promo-code-examples li:not(:first-child) {
    padding-top:20px;
}

content {
    margin-top:350px !important;
}

content h1:first-of-type {
    font-weight:normal !important;
    font-size:55px !important;
    position:absolute !important;
    top:100px !important;
    color:#f22773d6 !important;
}
