
ul.promo-code-examples {
    border-top: 2px solid #fea;
    border-bottom: 2px solid #fea;
    background-color:#fffdfa;
    margin:-30px;
    margin-top:5px;
    margin-bottom:5px;
    padding:0px;
    list-style:none;
}

ul.promo-code-examples li {
    display:block;
    padding:20px;
    padding-left:35px;
    padding-right:35px;
}

ul.promo-code-examples li:nth-child(2n) {
    background-color:#fbf8f7;
}

ul.promo-code-examples li::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

ul.promo-code-examples code {
    margin-top:8px;
    margin-bottom:8px;
    padding:10px;
    display:block;
    background-color:#302;
    color:#ecc;
    float:right;
    font-size:16px;
    width:65%;
    overflow:auto;
    white-space:pre;
}

ul.promo-code-examples h3 {
    display:inline-block;
    width:30%;
    font-size:1em;
    font-weight:normal;
    padding-bottom:20px;
    padding-top:0px;
    margin-top:0px;
    margin-bottom:0px;
    line-height:1.3em;
}

@media (max-width: 750px) {
    ul.promo-code-examples code {
        width:95%;
    }
}

ul.promo-code-examples code:first-of-type {
    margin-top:-4px;
}

ul.promo-code-examples li:not(:first-child) {
    padding-top:20px;
}

content {
    margin-top:350px !important;
}

content h1:first-of-type {
    font-weight:normal !important;
    font-size:55px !important;
    position:absolute !important;
    top:100px !important;
    color:#f22773d6 !important;
    display:block;
    width:calc(97% - 150px);
    box-sizing: border-box;
    text-align:center;
}
