
@font-face {
    font-family: "Bungee-Regular-h3d";
    src: url("/font/Bungee/Bungee-Regular.ttf");
}

@font-face {
    font-family: "Manrope-Regular-h3d";
    src: url("/font/Manrope/static/Manrope-Regular.ttf");
}
@font-face {
    font-family: "PatuaOne-Regular-h3d";
    src: url("/font/PatuaOne/PatuaOne-Regular.ttf");
}


em {
    font-style:normal;
    font-variant:small-caps;
    font-family:'PatuaOne-Regular-h3d';
    padding-right:5px;
}

html {
    font-size:20px;
    line-height:1.1em;
    font-family: 'Manrope-Regular-h3d';
    min-width:550px;
}
body {
    background-image:url(img/bg2.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
}

content #download-list, content #help-list li {
    list-style:none;
}

content #download-list li, content #help-list li {
    padding-top:2px;
    padding-bottom:5px;
}

content #download-list li > a, content #help-list li > a {
    display:inline-block;
    background-color:rgba(266, 230, 242, 0.4);
    padding:15px;
    margin:5px;
}

content #download-list li > a:hover, content #help-list li > a:hover {
    background-color:#f49;
    font-weight:bold;
    color:#fff;
}

content a {
    color:#660048;
    text-decoration:none;
}
content a:hover {
    color:#f38;
}

content {
    background-color:rgba(255, 248, 245, 0.94);
    width:calc(97% - 150px);
    min-width:300px;
    max-width:1300px;
    display:block;
    padding:30px;
    padding-top:20px;
    border-radius:20px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    color:#0c0303;
}

content:last-of-type {
    margin-bottom:500px;
}

content h1:first-of-type {
    font-weight:normal;
    font-size:35px;
    font-family:'PatuaOne-Regular-h3d';
    line-height:1.2em;
    padding-bottom:15px;
    padding-top:0px;
}

h1 {font-size:23px; font-weight:bold;padding-top:12px;padding-bottom:10px;}

html,body{padding:0px; margin:0px;}

content #main-logo {
    width:300px;
    height:auto;
    /*left:10px;
    top:10px;
    position:absolute;*/
    display:block;
    margin:auto;
}

#main-logo-small {
    width:150px;
    height:auto;
    top:0px; left:20px;
    position:fixed;
    display:block;
    margin:auto;
    z-index:9999;
}

nav {
    display:block;
    position:fixed;
    top:0px;
    left:0; right:0;
    min-width:650px;
    width:100%;
    text-align:center;
    background-color:#f9eeeac9;
    margin:auto;
}

nav a {
    display:inline-block;
    color:#f03;
    text-decoration:none;
    font-weight:bold;
    padding:5px;
}

nav a.here {
    background-color:#f59;
    color:#fff;
    padding-bottom:9px;
    padding-top:9px;
    border-radius:3px;
}

nav a:hover, nav a.here:hover {
    background-color:#f03;
    color:#fff;
    padding-bottom:9px;
    padding-top:9px;
    border-radius:3px;
}

nav li {
    display:inline-block;
    padding-right:10px;
}

nav li:last-of-type {padding-right:0px;}

nav ul {
    list-style:none;
    padding:0px;
}
